.a{
    text-align: center;
    margin: 0;
}

.LoginForm{
    width: 95%;
    border: 1px solid;
    padding: 30px 10px;
    border-radius: 5px;
}

.sdf{
    margin-top: 10px;
    margin-bottom: 10px;
}
